@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-checkbox {
  width: 18px;
  height: 18px;
  border-radius: 4px;
  appearance: none;
  background-color: #1f2937; 
  border: 2px solid #ffffff; 
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.custom-checkbox:checked {
  background-color: #1f2937; 
}

.custom-checkbox:checked::before {
  content: '✔';
  font-size: 12px;
  color: #4ade80; 
  display: flex;
  justify-content: center;
  align-items: center;
}
